#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

* {
    box-sizing: border-box;
}

.layers {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    min-width: 25%;
    height: 100%;
    overflow-y: auto;
    padding: .5rem 1rem;
    position: absolute;
    left: 0;
    top: 0;
}

.layers > * {
    padding-bottom: .5rem;
    border-bottom: 1px solid black;
}

.layers > *:last-child {
    border-bottom: none;
}

.layer h4 {
    white-space: nowrap;
    word-wrap: unset;
}

.layer input, .layers label {
    display: flex;
}

.layer .input {
    text-align: end;
}

.layer label {
    text-align: start;
}

.layer {
    position: relative;
}

.actions, .field {
    display: flex;
    flex-direction: row;
    margin: .2em;
    align-items: center;
}

.actions {
    gap: .5em;
}

.field {
    justify-content: space-between;
}

.field-container {
    flex-grow: 1
}

.order-btn {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.layer button.close {
    position: absolute;
    top: 0;
    right: 0;
}

button.small-btn {
    padding: .2em;
    line-height: 1em;
}

.layer-options {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
}

.layer-options > * {
    border: 2px black solid;
    border-bottom: none;
    border-collapse: collapse;
}

.layer-options > *:last-child {
    border-bottom: 2px black solid;
}

.accordion > * {
    border-bottom: 1px solid black;
}

.accordion > *:last-child {
    border-bottom: none;
}

.accordion-btn {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    width: 100%;
}

.accordion-btn h3 {
    margin: 0;
}

.sample-layer {
    display: flex;
    flex-direction: row;
}

h4 {
    margin: .5em 0;
}

.sample-layer button {
    flex-grow: 0;
}

.sample-layer div {
    flex-grow: 1;
}

.sample-layer svg {
    margin: 0 1em;
    aspect-ratio: 3/2;
}

select {
    display: block;
    margin: 1em auto;
}

.flag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
}

.flag-list > div {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.flag-list p {
    text-align: center;
}

canvas {
    aspect-ratio: 3/2;
    border: 2px solid black;
}